<div class="bg-base-300 min-h-screen w-full">
    <div class="flex justify-center">
        <div *ngIf="weatherViewModel" class="card mt-10 mb-30 bg-base-200 max-w-sm w-full shadow-sm">
            <div class="card-body">
                <h2 class="card-title">{{ weatherViewModel.location }}</h2>
                <p class="card-body">{{ weatherViewModel.formatedDate }}</p>
                <div class="stats stats-vertical shadow">
                    <div class="stat">
                        <div class="stat-title">Weather</div>
                        <div class="stat-value">{{ weatherViewModel.weatherMain }}</div>
                    </div>
                    <div class="stat">
                        <div class="stat-title">Temperature</div>
                        <div class="stat-value">{{ weatherViewModel.temperature }} K°</div>
                    </div>
                    <div class="stat">
                        <div class="stat-title">Min° | Max°</div>
                        <div class="stat-value">{{ weatherViewModel.tempMin }}K° | {{ weatherViewModel.tempMax }}K°</div>
                    </div>
                    <div class="stat">
                        <div class="stat-title">Pressure</div>
                        <div class="stat-value">{{ weatherViewModel.pressure }}</div>
                    </div>
                    <div class="stat">
                        <div class="stat-title">Humidity</div>
                        <div class="stat-value">{{ weatherViewModel.humidity }}</div>
                    </div>
                </div>
                <figure>
                    <img src="https://openweathermap.org/img/wn/{{weatherViewModel.icon}}@2x.png" alt="Overcast clouds"/>
                </figure>
            </div>
        </div>
    </div>
</div>